@model PShopSolution.ViewModels.System.Users.RoleAssignRequest

@{
    ViewData["Title"] = "Gán quyền cho người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Gán quyền người dùng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="User">Danh sách người dùng</a></li>
        <li class="breadcrumb-item active">Gán quyền người dùng</li>
    </ol>
    <div class="card col-md-1" style="padding:0; margin-bottom:10px">
        <a class="btn btn-success" asp-action="Index" asp-controller="User"><i class="fa fa-arrow-left"></i> Trở lại </a>
    </div>
    <div class="row" style="padding-left:50px">
        <div class="col-md-4">
            <form asp-action="RoleAssign">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                @for (int i = 0; i < Model.Roles.Count; i++)
                {
                    <div class="form-group">
                        <label>
                            @Model.Roles[i].Name
                            <input asp-for="Roles[i].Selected" />
                            <input hidden asp-for="Roles[i].Name" />
                            <input hidden asp-for="Roles[i].Id" />
                        </label>
                    </div>
                }

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>